<!--
// UofU-CS3500
//<authors> Judy Ojewia, Natalie Hicks </authors>
//<date> Fall 2024 </date>
-->
@page "/"
<PageTitle>Home</PageTitle>

<h1>
    Hello!!!
    Welcome to our Snake Game: Football Edition
</h1>

<style>
    body {
        padding: 25px;
        background-color: white;
    }
</style>

<body>
    <div>
        <p>
            In our snake Game:
            Each player controls a snake that can slither around the world and collect powerups (food) to grow its length.
            The world can contain zero or more wall sections. Snakes can not go through walls.
            If the snake reaches the edge of the world (and the world is not surrounded by walls), the outcome is undefined.
            The world can include zero or more powerups, which if collected, grow the total length of the snake some fixed amount.
            A snake dies if it runs into a wall or another snake.
            A dead snake will respawn with a shorter length in a random unoccupied location after a certain amount of time.
        </p>
    </div>

    <div>
        <p>
            Specifics:
            -The Powerups look like golden soccer trophies, and to collect them the player needs to start by eating the circle at
            the top of the trophy.
            -Snakes have Phil Foden's head.
            -The name of the player and the player's score is displayed near each snake in the game's head.
            -When a snake dies it turns red and a explosion happens.
        </p>
    </div>

    <div>
        <p>
            -To connect to our snake game, enter the server port and address and then push connect.
            The user can then push the "disconnect" button once they are connected to disconnect from the server,
            and can then push connect again if they want to reconnect.
            FAIL TO CONNECT: If the snake game couldn't connect to the sever a "connection error" message will appear
            and the user can attempt to reconnect and dismiss the error by pushing the red button.
        </p>
    </div>

    <div>
        <p>
            In this take on the classic snake game, we have added designs to make football fans certainly thrilled! The story of
            our snake game goes as follows:

        </p>
    </div>

    <div>
        <p>
            -The football king, Erling Braut Haaland is a beautiful and kindhearted soul. He rules Manchester City Kingdom
            with benevolence and joy.
            -However, the football prince Phil Foden feels Haaland has abandoned him. While Haaland bathes in milk and goes on
            rap tours, Phil Foden is left practicing footie alone...
            -Over the years, Foden's anger started contorting his love for Haaland, and all that remained was hatred.
            -In a matter of months, Foden lived solely in the Man City's locker room, refusing to come out to eat or bathe. He
            lived of of the grime of the locker room and slowly became a monster..
            -One day, Haaland walked into the locker holding his new, Golden Trophy - Adorned with a large football on the top.
            -Foden peered out through the cracks in a locker, waiting for Haaland to move closer. As Haaland walked over to his
            locker, aiming to grab his milk jug, a slithery critter lunged out at him!!
            -"What the.." Haaland exclaimed. The creature was definitely a snake!! But it also had the familiar face of a friend..
            -It was Phil, his prince! What had happened to him?!? His head remained, but he had the body of a snake!
            -With extreme speed, Foden slithered up Haaland arm and extended his jaw. Haaland braced for impact, but felt nothing.
            -He opened his eyes and saw Foden engulfing his trophy!!!
            -"Hey, that's mine!" Haaland yelled, but it was too late, Foden has swallowed the trophy and slithered into the vents.
            -Now, every time that Haaland earns a trophy and brings it into the locker room, a Foden emerges to eat it!
        </p>
    </div>

</body>
